[Unit]
Description=CORE Topology Starter
ConditionPathExists=/etc/greybox/map.xml
Requires=core-daemon.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/greybox-start
ExecStop=/usr/local/bin/greybox-stop

[Install]
WantedBy=multi-user.target
